
<script id="all-outfits-template" type="text/x-handlebars-template">
  {{#each allOutfits}}
  <div class='individual-outfit'>
    <img src="{{image}}" class="img-responsive col-12" id="outfitpicture" alt="Your Ensemble!" height="640">
    <div class="col-12">{{title}}</div>
    <div class="col-12">{{types}}</div>
    <div class="col-12 rating" id="rating-{{@index}}" value="{{avg_rating}}">
    <p>average rating</p>
      <div class="rating-star"></div>
      <div class="rating-star"></div>
      <div class="rating-star"></div>
      <div class="rating-star"></div>
      <div class="rating-star"></div>
      <button type="button" class='rate-this-button' id='rate-this-{{@index}}'>Rate This</button>
      <div class='rating-form'>
      <br> <br>
        <form id="form-{{@index}}" action="/users/<%= session[:user_id] %>/ensembles/{{outfit_id}}/ratings" method="POST">
          <input type="hidden" name="rating[stars]" value=0>
          <input type="hidden" name="rating[outfit_id]" value={{outfit_id}}>
          <input type="hidden" name="rating[user_id]" value=<%= session[:user_id] %>>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <textarea rows="4" cols="50" placeholder="leave a fantastic review" name="rating[comment]"></textarea><br>
          <div class="col-12 newrating" id="newrating-{{@index}}">
            <div id="star1" class="new-rating-stars" title="No."></div>
            <div id="star2" class="new-rating-stars" title="Needs work."></div>
            <div id="star3" class="new-rating-stars" title="Decent."></div>
            <div id="star4" class="new-rating-stars" title="Love it."></div>
            <div id="star5" class="new-rating-stars" title="Nailed it!"></div>
          </div>
          <input type="submit" value='Save Rating'>
        </form><br><br>
      </div>
    </div>
     <div class="col-12">{{caption}}</div>
      {{#each ratings}}
     <div class="allreviews">{{username}}:     {{comment}}          {{stars}}</div>
     {{/each}}
     {{#each articles}}
     <div class="allreviews">{{description}}:     <a href="{{brand_url}}">{{brand}}</a></div>
     {{/each}}
 </div>
  {{/each}}
</script>

<script id="recent-outfits-template" type="text/x-handlebars-template">
  {{#each recentOutfits}}
    <div class="recentoutfitsbox">
    <div class="container">
      <img src={{image}} class="img-thumbnail col-md-3" alt="Your Ensemble!">
      <div class="col-md-9 thebox">{{title}}, Rating: {{avg_rating}}</div>
      <form id='delete-outfit' action='/users/<%= session[:user_id] %>/ensembles/{{outfit_id}}' method='post'>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type='hidden' name='_method' value='delete'>
      <button class="destroy-button" id="destroy-{{outfit_id}}">Delete</button>
      </form>
      <form id='update-outfit' action='/users/<%= session[:user_id] %>/ensembles/{{outfit_id}}/edit' method='get'>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <button class="update-button" id="update-{{outfit_id}}">Update</button>
      </form>
    </div>
  {{/each}}
  </div>
</script>

<script id="trending-hashtags-template" type="text/x-handlebars-template">
  {{#each trendingHashtags}}
  <div class="trendinghash">
    <div class="container">
      <a href="../hashtags/{{hashtag_id}}" id={{hashtag_id}} class="hashtag-link"><div class="col-md-10">{{hashtag}}</div>
      <div class="col-md-2">{{count}}</div></a>
    </div>
  {{/each}}
  </div>
</script>

<nav class-"navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <a href="/users/<%= @user_id %>"><div class="col-md-3 ">
      HOME
    </div></a>
    <a href="/outfits/new" id="newoutfit">
    <div class="col-md-3">
      UPLOAD AN ENSEMBLE
    </div></a>
    <a href="/logout">
    <div class="col-md-3 ">
      LOGOUT
    </div></a>
    <a href="">
    <div class="col-md-3 ">
      <img src=<%= asset_path('ENSEMBLE-logo-black.png') %> id="logoheader">
    </div></a>
  </div>
</nav>


    <div class="row searchbar">
      <div class="col-md-4 col-md-offset-4" id="searchbar">
        <form action="/search" method="get" class="col-12" id="search-form">
          <input id="search-box" type="text" placeholder="Search hashtags" name="hashtag">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"/>
          <input type="submit" value="search">
        </form>
        </div>
      <div class="col-md-4 col-md-offset-4">Sort By: <button id='sort-by-recent'>RECENT</button>   <button id='sort-by-ratings'>RATINGS</button>   <button id='sort-by-popularity'>POPULARITY</button>
      </div>
    </div>

    <div class="dashboard">
      <div class="col-md-3 col-xs-6" id="recent-outfits">
        <!-- recent-outfits-template goes here.... -->
      </div>
      <div class="col-md-3 col-md-push-6 col-xs-6" id="trending-hashtags">
        <!-- trending-hashtags-template goes here... -->
      </div>
      <div class="col-md-6 col-md-pull-3 col-xs-12" id="feed">
        <div class="container">
          <div class="col-12" id="all-outfits">
            <!-- single-outfit-template goes here.... -->
          </div>
        </div>
      </div>
    </div>
  </div>

