<div class="col-md-10 col-md-offset-1" id="element1"></div>
<div class="col-md-6 col-md-offset-3"id="content1"></div>
<div class="col-md-4 col-md-offset-4 registerbox" id="signup">
  <img src=<%= asset_path('ENSEMBLE-logo-white.png') %> id="logo">
  <h1 id="registerheader">Sign up now and start rating</h1>

        <%= form_for :user, url: '/users', id: "register", class: "registerform" do |f| %>
        <table>
          <tr>
            <td>Name:   </td>
            <td><%= f.text_field :username %></td>
          </tr>
          <tr>
            <td>Email:   </td>
            <td><%= f.text_field :email %></td>
          </tr>
          <tr>
            <td>Password:   </td>
            <td><%= f.password_field :password %></td>
            </tr>
            <tr>
            <td>Confirm Password:   </td>
            <td><%= f.password_field :password_confirmation %></td>
            </tr>
          </table>
                  <div id="msg"><% flash.each do |name, msg| %>
  <%= msg %>
<% end %>
</div>
        <div class="instagramnew">
        <%= f.submit "Submit", class: "btn btn-1 btn-1a newbuttons" %>
        <% end %>
        </div>
        <div class="registernow" id="signinmessage">Already a member?<a href="/">Sign In</a></div>
        <a href="/instagram/oauth/connect"><button class="btn btn-1 btn-1a newbuttons">Login With Instagram<i class="fa fa-instagram"></i></button></a>
